@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome To PrescritionHQ</h1>
        <p><strong>Managed By:</strong> Natural Pharmacy</p>
        <p>456 Wellness Circle Nashville, TN 34512</p>
    </div>
