@{
    ViewData["Title"] = "Home Page";
}

<style> 
body {
    background-image: url(https://st3.depositphotos.com/8151032/12775/i/950/depositphotos_127750686-stock-photo-lot-of-colorful-medication-and.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.display-4 {
   font-weight:600;
   border-radius:50%;
   /*transform: rotate(-50deg);*/
   position:center;
}
.text-center{
    font-size:large;
    font-weight:500;
}

</style>

<body class="bg">

    <div class="text-center">
        <h1 class="display-4">Welcome To PrescritionHQ</h1>
        <p><strong>Managed By:</strong> Natural Pharmacy</p>
        <p>456 Wellness Circle Nashville, TN 34512</p>
    </div>
</body>
