@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-image: url(https://st3.depositphotos.com/8151032/12775/i/950/depositphotos_127750686-stock-photo-lot-of-colorful-medication-and.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .display-4 {
        font-weight: 600;
        border-radius: 50%;
        /*transform: rotate(-50deg);*/
        position: center;
    }

    .text-center {
        font-size: large;
        font-weight: 500;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>This system is protected by the love of trust.</p>
